.review {
  margin-bottom: 20px;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentExpanded {
  display: block;
}

.moreButton {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-top: 5px;
}

/* .review {
  margin-bottom: 20px;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  padding-right: 50px;
}

.content::after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 5px;
}

.contentExpanded {
  display: block;
}

.moreButton {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-left: 5px;
  white-space: nowrap;
  position: absolute;
  right: 0;
  bottom: 0;
} */
